.dock {
    display: flex;
    flex-direction: row;
}

.ship-container {
    margin: 5px;
}

.ship-block {
    background-color: rgb(0, 54, 204);
    width: 20px;
    height: 20px;
}

.placed {
    visibility: hidden;
}